{% extends "navbar.njk"%}
{% extends "layout.njk" %}

{% block main %}
<form method="POST">

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <font color="white">
        <h1>Créer une nouvelle activité</h1>
        <p>Une fiesta entre amis, un voyage ou encore un cadeau à offrir en groupe ?
        </br> Créez votre activité !
      </br></br></br><I>Les champs obligatoires sont suivis par <strong><abbr title="obligatoire">*</abbr></strong>.</I>
        </p>
      </font>
      </div>
    </div>
    <div class="row card-deck">
      <div class="col-xs-12 col-sm-6 col-md-4 text-center card bg-light mb-3">
        <h2> Evénement </h2>
      </br>
        <p>
          <label for="Titre de l'activité">
            <span>Titre de l'activité : </span>
            <input type="text" id="nom" name="titre" placeholder="activité" required />
            <strong><abbr title="obligatoire">*</abbr></strong>
          </label>
        </p>
        <p>
          <label for="Description">
            <span>Description : </span>
            <input type="textarea" id="description" name="description" placeholder="Description..." />
          </label>
        </p>
        <p>
          <label for="Date de début">
            <span>Date de début : </span>
            <input type="date" id="startdate" name="startdate" placeholder="" />
          </label>
        </p>
      </div>
      <div class="col-md-offset-1 col-xs-12 col-sm-6 col-md-4 text-center card bg-light mb-3">
        <h2> Ajouter des participants </h2>
        <p>
        </br>
        <label for="Ajouter un participant">
            </br>
            <input type="email" id="username" placeholder="Email" required/>
            <input type="button" class="btn btn-primary" id="addParticipant" value="Ajouter" placeholder="Ajouter" />
            <strong><abbr title="obligatoire">*</abbr></strong>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center card bg-light mb-3">
        <h2> Liste des participants </h2>
      </br>
        <select id="liste" multiple>
        </select>
      </br></br>
        <input type="button" class="btn btn-warning" value="Reset" id="deleteAll" name="button">
      </p>
      <div id="hidden"></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
      </br>
        <button type="submit" id="submit" class="btn btn-success" > <h3>Créer l'activité</h3> </button>
      </div>
    </div>
  </div>
</body>

</form>

<script>
 let myList="";
  document.getElementById("addParticipant").addEventListener("click", ()=> {
    const myValue = document.getElementById("username").value;
    document.getElementById("liste").innerHTML += "<option value=\"" + myValue + "\">" + myValue + "</option>";
    myList += "," + myValue;
  });

  document.getElementById("submit").addEventListener("click", ()=> {
    document.getElementById("hidden").innerHTML = "<input type=\"hidden\" name=\"hidden_value\" value=\"" + myList + "\">";
  });

  document.getElementById("deleteAll").addEventListener("click", ()=> {
    document.getElementById("liste").innerHTML = "";
  });
</script>

{% endblock %}
