{% extends "layout.njk" %}

{% block main %}
<style>
  input {
    margin:10px;
    width: 300px;
  }
  .btn{
    margin:10px;
  }
</style>
<font color="white">
  <h1>Bienvenue sur FileLaThune</h1>
  <p>Les bons comptes font les bons amis</p>
</font>
<div class="container-fluid">
  <div class="row card-deck col-xs-12 col-sm-6 col-md-4 card bg-light mb-3">
    <h2>Vous avez déjà un compte ?</h2>
    <form action="/" method="POST">
      <table>
        <tr>
          <td>
            <label>E-mail</label>
          </td>
          <td>
            <input type="text" name="username"/><br/>
          </td>
        </tr>
        <tr>
          <td>
            <label>Mot de passe</label>
          </td>
          <td>
            <input type="password" name="password"/>
          </td>
        </tr>
      </table>
      <div>
        <button type="submit" class="btn btn-primary">
          Connecter
        </button>
      </div>
    </form>
  </div>
<div class="container-fluid"></div>
<div class="row card-deck col-xs-12 col-sm-6 col-md-4 card bg-light mb-3">
  <h2>Nouveau sur le site ?</h2>
  <a href="/account" class="btn btn-success btn-lg">Créer un compte</a>
<div id="fb-root"></div>
<a href="/auth/facebook">click pour facebook</a>
</div>
</div>

{% endblock %}
