{% extends "layout.njk" %}

{% block main %}
<style>
  input {
    margin:10px;
    width: 300px;
  }
  .btn{
    margin:10px;
  }
  .row{
    margin:50px;
  }
</style>
<font color="white">
  <h1 class="text-center">Bienvenue sur FileLaThune</h1>
  <p class="text-center">Les bons comptes font les bons amis</p>
</font>
<div class="container-fluid">
  <div class="row card-deck col-xs-12 col-sm-6 col-md-4 card bg-light mb-3 justify-content-md-center mx-auto">
    <h2>Vous avez déjà un compte ?</h2>
    <form action="/" method="POST">
      <table>
        <tr>
          <td>
            <label>E-mail</label>
          </td>
          <td>
            <input type="text" name="username"/><br/>
          </td>
        </tr>
        <tr>
          <td>
            <label>Mot de passe</label>
          </td>
          <td>
            <input type="password" name="password"/>
          </td>
        </tr>
      </table>
      <div>
        <button type="submit" class="btn btn-primary">
          Connecter
        </button>
      </div>
    </form>
  </div>
<div class="container-fluid"></div>
<div class="row card-deck col-xs-12 col-sm-6 col-md-4 card bg-light mb-3 justify-content-md-center mx-auto">
  <h2>Nouveau sur le site ?</h2>
  <a href="/account" class="btn btn-success btn-lg">Créer un compte</a>
<div id="fb-root"></div>
<a href="/auth/facebook"><img src="https://blog.audiofanzine.com/wp-content/uploads/2014/08/Capture-d%E2%80%99%C3%A9cran-2014-11-06-%C3%A0-10.25.42.png" style="height:50px"/></a>
</div>
</div>

{% endblock %}
