{% extends "layout.njk"%}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">
    <img src="logo.png" width="200" height="50" class="mr-auto" alt="">
    <a href="/dashboard">{{name}}</a>
    <p>id : {{id}}</p>
    <a href="/logout"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Reset_button.svg/982px-Reset_button.svg.png" style="width:25px;" alt="Déconnecter"></a>
  </div>
</nav>
{% endblock %}
