{% extends "layout.njk" %}

{% block main %}

<p>Bonjour {{user.name}}</p>
<a href="/logout"><button>Déconnecter</button></a>
<a href="/create_activity"><button>Créer activité</button></a>

{% endblock %}
